<footer class="p-4 bg-white md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      aria-label="E-commerce Logo"
      routerLink="/"
      class="flex justify-center items-center text-2xl font-semibold text-gray-900"
    >
             <img src="svg/logo.svg" alt="Logo" class="h-10 w-auto">

    </a>
    <p class="-mt-4 mb-4 text-gray-500">
      Worldwide shipping. We ship to over 100 countries and regions, right to
      your house
    </p>
    <span class="text-sm text-gray-500 sm:text-center"
      >© 1990-2025 <a href="#" class="hover:underline">E-commerce</a>. All Rights
      Reserved.</span
    >
    <span class="text-sm text-gray-500 sm:text-center"
      >Created by <a href="https://github.com/gustavo-silva99" class="hover:underline">Gustavo Gomes</a>.
      </span>
  </div>
</footer>
